$blue: rgb(17,26,48);
$green: rgb(24,53,56);
$yellow: rgb(253,188,62);
$orange: rgb(253,107,35);
$red: rgb(121,31,27);

.week {
  width: 200%;
  background: $blue;
  display: flex;
  flex-direction: row;
}

.day {
  background: $green;
  color: $red;
  width: 400px;
  height: 90%;
  flex-basis: 100%;
}

.todo {
  background: $yellow;
  overflow-wrap: break-word;
}

.cal {
  background: $orange;
}