$bg: rgb(43,43,43);
$headers: rgb(200,120,50);
$textC: rgb(176,176,176);
$tdbg: rgb(38,71,47);
$cbg: #2B3D54;
$anchors: rgb(109,156,190);
$greeting: rgb(200,165,95);
$red: rgb(52,4,4);

body {
  background: $bg;
  color: $textC;
}

h1 {
  color: $greeting;
}

h2 {
  color: $headers;
}

a:link, a:visited, a:hover, a:active {
  color: $anchors;
}

.week {
  width: 200%;
  display: flex;
  flex-direction: row;
}

.day {
  width: 400px;
  height: 90%;
  flex-basis: 100%;
  padding-right: 8px;
}

.day > .todo {
  background: $tdbg;
  overflow-wrap: break-word;
}

.overdue {
  background: $red;
  overflow-wrap: break-word;
}

.todo > div {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
}

.cal > div {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.cal {
  background: $cbg;
}

#refresh {
  cursor: pointer;
}